version: '3.8'

services:
  wheelsunuserms:
    image: jivegabe/image-wheelsun_user_ms
    expose:
      - 8000
    networks:
      - mynetwork

  wheelsunmq:
    image: rabbitmq:3.13-management
    expose:
      - 5672
      - 15672
    networks:
      - mynetwork

  wheelsunag:
    image: jivegabe/image-wheelsun_ag-no_ldap
    expose:
      - 8100
    networks:
      - mynetwork
    depends_on:
      - wheelsunuserms
      - wheelsunmq

  nginx_wheelsunag:
    image: cquilaguy12/image-wheelsun_proxyag
    ports:
      - 81
      - 444
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf  # Mount the Nginx configuration file
      - ./config/server.cer://etc/nginx/ssl/server.cer
      - ./config/server.key:/etc/nginx/ssl/server.key
    networks:
      - mynetwork
    depends_on:
      - wheelsunag

networks:
  mynetwork:
    driver: bridge
